.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    overflow-y: hidden;
}



.mobile-header {
    display: none;
}

.title  {
    margin-left: 6vh;
    display: flex;
    text-align: left;
}

button {
    margin-right: 5vh;
    margin-top: 5vh;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360);
    }
}

.show-nav {
    display: none;
}

.img {
    width: 60%;
    height: 8vh;
    margin-top: 6vh;
    margin-right: 5vh;
    background-image: url('./../../../Pics/IMG_0385.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin infinite 20s linear;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vh;
    margin-right: 3vh;
}

.nav a {
    border-radius: 15px;
    padding: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-right: 1rem;
    text-decoration: none;
}

.nav a:hover {
    padding: 21px;
    border: none;
    color: black;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .mobile-header-active {
        display: grid;
        background-color: black;
        height: 60vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo" "logo" "logo"
        "title" "title" "title"
        "nav" "nav" "nav"
        "cart" "cart" "cart"
        "button" "button" "button";
        overflow-x: hidden;
        width: 100%;
    }

    .mobile-header {
        display: block;
        background-color: black;
    }

    .header{
        display: none;
    }

    .show-nav {
        display: block;
    }

    .title {
        flex-direction: column;
        align-items: center;
        grid-area: title;
    }

    .header {
        flex-direction: column;
        height: 50vh;
    }

    .nav {
        margin-bottom: 0vh;
        grid-area: nav;
    }

    .img {
        background-position: center;
        grid-area: logo;
        height: 10vh;
        width: 100%;
    }

    .mobile-header .img {
        margin-left: 1vh;
    }

    .mobile-header-active .img {
        margin-right: 1.5vh;
    }

    .cart {
        grid-area: cart;
        display: flex;
        justify-content: center;
        margin-right: -10vh;
    }

    .dropdown-button {
        grid-area: button;
        margin-bottom: 3vh;
    }

    .mobile-header-active .dropdown-button {
        margin-left: 3vh;
        animation: fade-in .2s ease-in;
    }
    
    .dropdown-button button {
        width: 100%;
        background-color: black;
        color: white;
        font-size: 20px;
        height: 50px;
        border: none;
        border: 1px solid white;
        padding: 10px;
        border-radius: 15px;
        white-space: nowrap;
    }
}

@keyframes fade-in {
    0% {
        transform: translateX(-100vh);
        opacity: .5;
    }

    100% {
        transform: translateX(0vh);
        opacity: 1;
    }
}