.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.537);
    z-index: 10;
}

.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.items {
    margin: 3vh;
    background-color: white;
    height: 93%;
    overflow: scroll;
}

.cart-display {
    width: 50%;
    height: 90vh;
    margin-top: 3%;
    background-color: black;
}

.actions {
    display: flex;
    justify-content: flex-end;  
    margin-left: 3vh;
}

.actions button {
    position: relative;
    bottom: 5vh;
}

.title {
    position: relative;
    top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    border-bottom: 1px gray solid;
    margin-bottom: 5vh;
}

.total {
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.empty {
    margin-left: 3vh;
    font-size: 20px;
}

.checkout-button {
    border: white 1px solid;
    background-color: black;
    color: white;
}

.checkout-button:hover {
    border: black 1px solid;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 800px) {
    .cart-display {
        width: 100%;
        height: 100%;
    }
}