.approve {
    color: white;
    font-size: 30px;
    font-family: didot;
}

.invisible {
    display: none;
}

label {
    color: rgb(126, 0, 114);
    font-size: 25px;
    text-align: left;
    width: 90%;
}

input {
    border: none;
    padding: 10px;
    border: 2px solid rgb(73, 0, 73);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    background-color: rgba(216, 216, 216, 0.705);
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    
}

form button {
    width: 160px;
    padding: 15px;
    border: none;
    background-color: rgba(188, 0, 169, 0.312);
    border: black 2px solid;
    color: white;
    border-radius: 20px;
    margin-left: 5vh;
    font-size: 20px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

form button:hover {
    color: rgba(188, 0, 169, 0.58);
    background-color: white;
    border: rgb(188, 0, 170) 2px solid;
}

textarea {
    width: 90%;
    height: 30vh;
    border-radius: 20px;
    border: black 2px solid;
}

.invalid {
    background-color: rgba(255, 0, 0, 0.412);
}

.sent {
    color: white;
    font-size: 25px;
}

.form-error {
    font-size: 25px;
    color: red;
}

.form-title {
    color: rgb(111, 0, 129);
    font-size: 25px;
}

@media only screen and (max-width: 700px) {
    form {
        width: 100%;
    }
}